<!-- Daily States -->
</br>
</br>
</br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daily States</h4>

                    <div class="row">
                        <div class="col-12">
                            <p class="right">A Daily State represents a single "day" unit. This "day" can be applied to any or all 7 days
                                of the week. Each Daily State is a mapping between a time, and an
                                <a href="/ledStates">LED state</a>. A list of these mappings create a daily schedule. As the day passes, the appropriate
                                LED state will be selected and applied to the system.</p>
                        </div>
                    </div>

                    <!-- Existing Daily States -->

                    {{#each DailyStates}}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Daily State {{id}}</h5>
                                    <!-- Existing LED States -->
                                    <table class="table" id="timeStateMap">
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>LEDState</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each timeStateMap}}
                                            <!-- Display or update row -->
                                            <tr>
                                                <!-- Time -->
                                                <td class="disp_time">{{ time }}</td>
                                                <!-- State -->
                                                <td>
                                                    <a href="/ledStates/{{state}}" class="btn text-white badge badge-secondary">ID:{{ state }}</a>
                                                </td>

                                                <!-- Delete -->
                                                <form name="delete_mapping" action="/dailyStates/deleteMapping" method="POST">
                                                    <!-- Hidden element for ID and time -->
                                                    <td><input type="number" name="id" class="hidden" value="{{ ../id }}"></td>
                                                    <td><input type="number" name="time" class="hidden" value="{{ time }}"></td>

                                                    <td>
                                                        <button type="submit" id="row_delete_{{time}}" class="btn text-white badge badge-danger">Delete</button>
                                                    </td>
                                                </form>

                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>

                                    <!-- New LED state -->
                                    </br>
                                    <h5>Add new time/state mapping</h5>
                                    <form name="post_timeStateMap" action="/dailyStates/addMapping" method="POST">
                                        <!-- Hidden element for ID -->
                                        <input type="number" name="id" value="{{ id }}" hidden>

                                        <div class="input-group mb-3">
                                            <!-- Time -->
                                            <input type="number" class="form-control" placeholder="Hour" name="hour" min="0" max="12">
                                            <input type="number" class="form-control" placeholder="Minute" name="minute" min="0" max="59">
                                            <input type="number" class="form-control" placeholder="Seconds" name="second" min="0" max="59">
                                            <select class="custom-select">
                                                <option value="am">AM</option>
                                                <option value="pm">PM</option>
                                            </select>
                                            <!-- State -->
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">LEDState</label>
                                            </div>
                                            <select class="custom-select" name="state">
                                                {{#each ../LEDStates}}
                                                <option value="{{id}}">{{id}}</option>
                                                {{/each}}
                                            </select>

                                            <!-- Submit -->
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                    <!-- New Daily state -->

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        to_am_pm();
        sortTable($('#timeStateMap'),'asc');
    });
    function to_am_pm() {
        let noon = 12 * 60 * 60;
        let last_second = 24 * 60 * 60;
        $('.disp_time').each(function (i, obj) {
            let normal_time = "";
            let init_time = parseInt($(this).text());

            if (init_time >= 0 && init_time < last_second) {

                // AM/PM
                let ampm = (init_time > noon ? "PM" : "AM");
                // Decimal
                let dec = (init_time / 60 / 60);
                // Hour
                let hour = Math.floor(dec);
                // MinuteSecond
                let minsec = (dec - hour) * 60;
                // Minute
                let minute = Math.floor(minsec);
                // Second
                let second = Math.floor((minsec - minute) * 60);

                // Hour adjustment
                hour = (hour > noon ? hour - 12 : hour);
                hour = (hour == 0 ? 12 : hour);

                normal_time = hour + ":" + minute + (minute < 10 ? "0" : "") + (second > 0 ? ":" + second + (second < 10 ? "0" : "") : "") + " " + ampm;
            } else {
                normal_time = init_time + "s. after midnight";
            }

            $(this).text(normal_time);
        });
    };

    function sortTable(table, order) {
        var asc = order === 'asc',
            tbody = table.find('tbody');

        tbody.find('tr').sort(function (a, b) {
            if (asc) {
                return $('td:first', a).text().localeCompare($('td:first', b).text());
            } else {
                return $('td:first', b).text().localeCompare($('td:first', a).text());
            }
        }).appendTo(tbody);
    }

</script>