<!-- Daily States -->
</br>
</br>
</br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daily States</h4>

                    <div class="row">
                        <div class="col-12">
                            <p class="right">A Daily State represents a single "day" unit. This "day" can be applied to any or all 7 days
                                of the week. Each Daily State is a mapping between a time, and an
                                <a href="/ledStates">LED state</a>. A list of these mappings create a daily schedule. As the day passes, the appropriate
                                LED state will be selected and applied to the system.</p>
                        </div>
                    </div>

                    <!-- Existing Daily States -->
                    {{#each DailyStates}}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Header -->
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Daily State {{id}}</h5>
                                                </td>
                                                <td style="text-align: right">
                                                    <!-- Delete -->
                                                    <form name="delete" action="/dailyStates/delete" method="POST">
                                                        <!-- Hidden element for ID and time -->
                                                        <input type="number" name="id" class="hidden" value="{{ id }}">

                                                        <button class="btn btn-sm btn-danger text-white" type="submit">
                                                            Delete Daily State
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </br>

                                    <!-- Existing LED States -->
                                    <table class="table" id="timeStateMap">
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>LEDState</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each timeStateMap}}
                                            <!-- Display or update row -->
                                            <tr>
                                                <!-- Time -->
                                                <td class="disp_time">{{ time }}</td>
                                                <!-- State -->
                                                <td>
                                                    {{#if state}}
                                                    <a class="btn text-white badge badge-secondary">ID:{{ state }}</a>
                                                    {{else}}
                                                    <a class="btn text-white badge badge-secondary">None</a>
                                                    {{/if}}
                                                </td>

                                                <!-- Delete -->
                                                <form name="delete_mapping" action="/dailyStates/deleteMapping" method="POST">
                                                    <!-- Hidden element for ID and time -->
                                                    <td>
                                                        <input type="number" name="id" class="hidden" value="{{ ../id }}" required>
                                                    </td>
                                                    <td>
                                                        <input type="number" name="time" class="hidden" value="{{ time }}" required>
                                                    </td>

                                                    <td>
                                                        <button type="submit" id="row_delete_{{time}}" class="btn text-white badge badge-danger">Delete</button>
                                                    </td>
                                                </form>

                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>

                                    <!-- New LED state -->
                                    </br>
                                    <h5>Add new time/state mapping</h5>
                                    <form name="post_timeStateMap" action="/dailyStates/addMapping" method="POST">
                                        <!-- Hidden element for ID -->
                                        <input type="number" name="id" value="{{ id }}" hidden>

                                        <div class="input-group mb-3">
                                            <!-- Time -->
                                            <input type="number" class="form-control" placeholder="Hour" name="hour" min="0" max="12" required>
                                            <input type="number" class="form-control" placeholder="Minute" name="minute" min="0" max="59" required>
                                            <input type="number" class="form-control" placeholder="Seconds" name="second" min="0" max="59">
                                            <select class="custom-select" name="ampm" required>
                                                <option value="am">AM</option>
                                                <option value="pm">PM</option>
                                            </select>
                                            <!-- State -->
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">LEDState</label>
                                            </div>
                                            <select class="custom-select" name="state" required>
                                                <option value="0">None</option>
                                                {{#each ../LEDStates}}
                                                <option value="{{id}}">{{id}}</option>
                                                {{/each}}
                                            </select>

                                            <!-- Submit -->
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    {{/each}}

                    <!-- New Daily state -->
                    <form name="post_dailyState" action="/dailyStates/add" method="POST">
                        <!-- Submit -->
                        <button class="btn btn-outline-secondary" type="submit">
                            <h5>Add new daily state</h5>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        to_am_pm();
        sortTable($('#timeStateMap'), 'asc');

        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });
    });
    function to_am_pm() {
        let noon = 12 * 60 * 60;
        let last_second = 24 * 60 * 60;
        $('.disp_time').each(function (i, obj) {
            let normal_time = "";
            let sec_num = parseInt($(this).text(), 10);

            if (sec_num >= 0 && sec_num <= last_second) {
                var hours   = Math.floor(sec_num / 3600);
                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                var seconds = sec_num - (hours * 3600) - (minutes * 60);

                // Hour adjustment
                hours = (sec_num > noon ? hours - 12 : hours);

                if (hours == 0) { hours = 12; }
                if (minutes < 10) {minutes = "0"+minutes;}
                if (seconds < 10 && seconds > 0) {seconds = "0"+seconds;}
                let ampm = (sec_num < noon ? "AM" : "PM");
                
                normal_time =  hours+':'+minutes+(seconds>0 ? ':'+seconds : '')+' '+ampm;
            } else {
                normal_time = sec_num + "s. after midnight";
            }

            $(this).text(normal_time);
        });
    };

    function sortTable(table, order) {
        var asc = order === 'asc',
            tbody = table.find('tbody');

        tbody.find('tr').sort(function (a, b) {
            if (asc) {
                return $('td:first', a).text().localeCompare($('td:first', b).text());
            } else {
                return $('td:first', b).text().localeCompare($('td:first', a).text());
            }
        }).appendTo(tbody);
    }

</script>
