<!-- LED States -->
</br>
</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">LED States</h5>

          <div class="row">
            <div class="col-12">
              <p class="right">LED States represent a possible state of a single LED. It has 3 values (Red, Green, Blue), an intensity (percentage),
                and a power state.</p>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Red</th>
                <th>Green</th>
                <th>Blue</th>
                <th>Intensity</th>
                <th>On/Off</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody id="editor_rows">
              {{#each LEDStates}}
              <!-- Display or update row -->
              <tr>
                <td>{{ id }}</td>

                <form name="update-ledState" action="/ledStates" method="POST">
                  <td class="row-display-{{id}}">{{ r }}</td>
                  <td class="row-update-{{id}} hidden">
                    <input type="text" class="form-control" id="update-green" placeholder="{{ r }}">
                  </td>

                  <td class="row-display-{{id}}">{{ g }}</td>
                  <td class="row-update-{{id}} hidden">
                    <input type="text" class="form-control" id="update-green" placeholder="{{ g }}">
                  </td>

                  <td class="row-display-{{id}}">{{ b }}</td>
                  <td class="row-update-{{id}} hidden">
                    <input type="text" class="form-control" id="update-green" placeholder="{{ b }}">
                  </td>

                  <td class="row-display-{{id}}">{{ intensity }}</td>
                  <td class="row-update-{{id}} hidden">
                    <input type="text" class="form-control" id="update-green" placeholder="{{ intensity }}">
                  </td>

                  <td class="row-display-{{id}}">{{ power }}</td>
                  <td class="row-update-{{id}} hidden">
                    <input type="text" class="form-control" id="update-green" placeholder="{{ power }}">
                  </td>

                  <td>
                    <a id="row-edit-{{id}}" class="btn text-white badge badge-success" onclick="edit_mode({{id}})">Edit</a>
                  </td>

                  <td class="row-update-{{id}} hidden">
                    <a type="submit" id="row-save-{{id}}" class="btn text-white badge badge-info" onclick="edit_mode({{id}})">Save</a>
                  </td>
                </form>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function edit_mode(id) {
    if ($('.row-update-' + id).hasClass("hidden")) {
      $('.row-update-' + id).removeClass("hidden");
      $('.row-display-' + id).addClass("hidden");
      // Edit button
      $('#row-edit-' + id).text("Cancel");
      $('#row-edit-' + id).removeClass("badge-success");
      $('#row-edit-' + id).addClass("badge-danger");
    } else {
      $('.row-update-' + id).addClass("hidden");
      $('.row-display-' + id).removeClass("hidden");
      // Edit button
      $('#row-edit-' + id).text("Edit");
      $('#row-edit-' + id).removeClass("badge-danger");
      $('#row-edit-' + id).addClass("badge-success");
    }
  }
</script>