<br />

<div class="container-fluid plantergb-card" style="padding-bottom: 250px;">
  <div class="row">
    <div class="col-10 center-pls">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Profiles</h4>
          <div class="row">
            <div class="col-12">
              <p class="right">
                Each profile holds a set of zones, and can be active or inactive. When a profile is active, its zones are applied to the
                system. Each zone holds a daily state for every day of the week, and a list of LEDs that those daily states
                should be applied to. To edit a zone click the view button within each profile.
              </p>
            </div>
          </div>

          <br />
          <h4>All Profiles: </h4>
          <table class="table table-striped">
            <thead>
              <th>Name: </th>
              <th>ID: </th>
              <th>Description: </th>
              <th>Zones: </th>
              <th></th>
              <th></th>
            </thead>

            <tbody>
              {{#each Profiles}}
              <tr>
                <form name="patch_profile" action="/profiles/edit" method="POST">
                  <!-- Hidden element for ID -->
                  <input type="number" name="id" value="{{ id }}" hidden>

                  <td class="row_display_{{id}}">{{name}}</td>
                  <td class="row_update_{{id}} hidden">
                    <input type="text" class="form-control" style="width:200px;" name="name" value="{{name}}" required/>
                  </td>
                  <td>{{id}}</td>
                  <td class="row_display_{{id}}">{{description}}</td>
                  <td class="row_update_{{id}} hidden">
                    <textarea class="form-control" style="width:450px;" name="description">{{description}}</textarea>
                  </td>
                  <td class="row_display_{{id}}">{{zones}}
                    <a href="/profiles/{{id}}" id="row_view_zones_{{id}}" class="btn text-white badge badge-info badge-width">View</a>
                  </td>
                  <td class="row_update_{{id}} hidden">
                    <a href="/profiles/{{id}}" class="btn text-white badge badge-warning">Edit Zones</a>
                  </td>
                  <td>
                    <a id="row_edit_{{id}}" class="btn text-white badge badge-success badge-width" onclick="edit_mode({{id}})">Edit</a>
                  </td>

                  <!-- Save -->
                  <td class="row_update_{{id}} hidden">
                    <button type="submit" id="row_save_{{id}}" class="btn text-white badge badge-info badge-width">Save</button>
                  </td>
                </form>

                <!-- Delete -->
                <form name="delete_profile" action="/profiles/delete" method="POST">
                  <!-- Hidden element for ID -->
                  <input type="number" name="id" value="{{ id }}" hidden>
                  <td class="row_display_{{id}}">
                    <button type="submit" id="row_delete_{{id}}" class="btn text-white badge badge-danger badge-width">Delete</button>
                  </td>
                </form>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 center-pls">
        <div class="card">
          <div class="card-body">

            <h5>Add new profile</h5>
            <!-- New profile -->
            <form name="post_profile" action="/profiles/add" method="POST">
              <div class="input-group mb-3">
                <!-- name -->
                <input type="text" class="form-control" placeholder="Name" name="name" required/>
                <!-- description -->
                <textarea class="form-control" placeholder="Description" name="description"></textarea>
                <!-- Submit -->
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
              </div>
            </form>

            <!-- Previous and next buttons -->
            <span class="float-left bottom-nav-buttons">
              <a href="/dailyStates" class="btn btn-outline-info">Previous Section</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function () {
      $('form').submit(function () {
        $(this).find("button[type='submit']").prop('disabled', true);
      });
    });

    function edit_mode(id) {
      if ($('.row_update_' + id).hasClass("hidden")) {
        $('.row_update_' + id).removeClass("hidden");
        $('.row_display_' + id).addClass("hidden");
        // Edit button to cancel
        $('#row_edit_' + id).text("Cancel");
        $('#row_edit_' + id).removeClass("badge-success");
        $('#row_edit_' + id).addClass("badge-secondary");
      } else {
        $('.row_update_' + id).addClass("hidden");
        $('.row_display_' + id).removeClass("hidden");
        // Edit button to edit
        $('#row_edit_' + id).text("Edit");
        $('#row_edit_' + id).removeClass("badge-secondary");
        $('#row_edit_' + id).addClass("badge-success");
      }
    }

  </script>