<div class="container">
<h2 class="text-center"> Update {{Profile.name}} (ID: {{Profile.id}}): </h2>

<form id="update-profile" action=/"/profiles" method="POST">
  <div class="form-group row">
    <label for="name" class="col-xs-2 col-form-label">Name: </label>
    <div class="col-sm-3">
      <input type="text" name="name" value={{Profile.name}} />
    </div>

    <label for="description" class="col-xs-2 col-form-label">Description: </label>
    <div class="col-sm-3">
      <input type="text" name="description" value={{Profile.description}} />
    </div>
  </div>

</form>
<button class="btn btn-default" onclick="updateProfile({{Profile.id}})">Update</button>

</div>
<script>

function updateProfile(id){
  $.ajax({
    url: '/profiles/' + id,
    type: 'UPDATE',
    data: $('update-profile').serialize(),
    datatype: 'json',
    success: function(results){
      window.location.replace("./");
    }
  });
}

</script>
